/* 1. Abstracts */
@import "abstracts/variables.css";

/* 2. Vendors (Vacio) */

/* 3. Base */
@import "base/reset.css";
@import "base/typography.css";

/* 4. Layout (Vacio) */

/* 5. Components */
@import "components/buttons.css";
@import "components/forms.css";
@import "components/cards.css";
@import "components/tables.css";
@import "components/badges.css";

/* 6. Pages (Vacio) */

/* 7. Themes (Vacio) */