* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
    background-color: var(--color-white);
    color: var(--color-black);
    line-height: 1.5;
}